#bannerImage{
    background-image: linear-gradient(to top, rgba(0, 4, 61, 0.6), rgba(255, 117, 117, 0.5)),
    url("../images/protland_peaceful_protest-19-full.png");
    background-repeat:no-repeat, no-repeat;
    background-size: cover, 100%;
    height:fit-content;
    background-attachment: fixed;
}

h1{
    color: white;
    font-weight: 900 !important;
}