#bannerImage{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9)),
    url("../images/protland_peaceful_protest-19-full.png");
    height:100vh;
}

h1{
    font-weight: 900 !important;
}