#bannerImage{
    background-image: linear-gradient(to top, rgba(255,255,255, 1), rgba(31, 0, 117, 0.5)),
    url("../images/protland_peaceful_protest-19-full.png");
    background-repeat:no-repeat, no-repeat;
    background-size: 100%, 100%;
    height:50vw;
}

h1{
    color: white;
    font-weight: 900 !important;
    text-shadow: 2px 2px 2px black;
}